@keyframes h2-animado
{
    0%
    {
        background-position: -500%;
    }
    
    100%
    {
        background-position: 500%;
    }
}

@keyframes chess1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

@keyframes chess2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

@keyframes chess3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

@keyframes chess4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}