@media screen and (max-width: 1440px){
    .contenedor-entrenamiento img{
        max-width: 50%;
    }
    .contenedor-problemas img{
        max-width: 50%;
    }
}

@media  screen and (max-width: 1024px) {


    .contenedor-entrenamiento img{
        max-width: 40%;
    }
    .lista-entrenamiento{
        font-size: 1.2em;
    }

    .icono-problemas{
        font-size: 0.6em;
    }
    
    .contenedor-contacto img{
        max-width: 50%;
        height: auto;
    }

    .contendor-imagenes{
        display: none;
    }
}

@media  screen and (max-width: 768px){

    .contenedor-redes li{
        width: 45px;
        margin: 40px;
    }

    .contenedor-contacto{
        font-size: 0.51em;
        height: 30%;

    }
}

@media  screen and (max-width: 425px){

    header .lista-navegacion{
        display: none;
    }

    .contenedor-form{
        font-size: 0.8em;
    }

    ul.carrusel li img{
    object-fit: fill;
    }
    .contenedor-redes li{
        width: 40px;
        margin: 20px;
        transform: none;
        
    }
    .redes-ul li:nth-child(1) span{
        background-color: black;
    }
    .redes-ul li:nth-child(2) span{
        background-color: black;
    }
    .redes-ul li:nth-child(3) span{
        background-color: black;
    }
    .redes-ul li:nth-child(4) span{
        background-color: black;
    }
    .redes-ul li:nth-child(5) span{
        background-color: black;
    }

    .contenedor-entrenamiento{
        align-items: flex-start;

    }

    .contenedor-carrusel{
        height: 
    }

    .contenedor-carrusel img{
        max-height: 80%;
    }

    .menu-carrusel li a{
        font-size: 30px;
        margin: 0;
    }

    .icono-problemas{
        font-size: 0.6em;
        margin-left: 32px;
    }

    .contenedor-problemas img{
        display: none;
    }

    .contenedor-problemas{
        height: 20%;
    }
    
    .contenedor-contacto img{
        display: none;
    }

    .contenedor-contacto{
        font-size: 1em;
        height: 40%;
    }

    .contenedor-entrenamiento img{
        display: none;
    }

    .contenedor-entrenamiento{
        height: 40%;
        font-size: 1.5em;
    }
    
}